@import '../styles/zero.styles.css';
@import '../styles/App.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100%;
	height: 100%;
	background-image: url(/assets/global-bg.jpg);
	background-position: center;
	background-size: cover;
	color: #808080;
	font-family: 'JetBrains Mono', monospace;
}

.wrapper {
	max-width: 1300px;
	min-height: 100dvh;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}
